.container {
  width: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0px 0px 129px 96px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 129px 96px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 129px 96px rgba(0, 0, 0, 0.75);
}
.backgroundImageContainer {
  position: relative;
}

.contentContainer {
  padding-top: 10rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
