.container {
  background: rgb(130, 48, 2);
  background: linear-gradient(
    180deg,
    rgba(130, 48, 2, 1) 0%,
    rgba(130, 48, 2, 1) 80%,
    rgba(130, 48, 2, 0.017542051000087544) 100%
  );
  width: 100%;
  padding: 1rem;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}

.title {
  display: flex;
}
.title1 {
  font-size: 1.5rem;
  color: #face8b;
}

.title2 {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: #c8c8c8;
}

.loginContainer {
  color: #face8b;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
}

.modalContainer {
  justify-content: center;
  display: grid;
  justify-items: center;
  background-color: #face8b;
  padding: 1rem;
}
.modalHeader {
  padding: 1rem;
  display: grid;
  justify-items: center;
  grid-template-rows: minmax(min-content, max-content);
}
.loginTitle {
  margin: 0;
}

.registerLoginButton {
  margin: 1rem;
  width: 5rem;
}
