.leftContainer
.rightContainer{
    height: 100%;
    background-color: black;
    width: 10rem;
    height: 10rem;
    position: fixed;
    top: 0;
}

.leftContainer{
    left:0
}

.rightContainer{
    right: 0
}