.container {
  background-color: #face8b;
  padding: 1rem;
}

.backLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.quillContainer {
  margin-bottom: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.quillContainerRead {
  margin-bottom: 1rem;
  border: none;
  background-color: #face8b;
  display: flex;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 80% 2rem;
}
