.container {
  padding: 1rem;
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
}

.formContainer {
  display: grid;
  grid-template-rows: auto;
  height: 10rem;
  justify-content: center;
}

.errorMessage {
  text-align: center;
  color: red;
}
