.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.campaignContainer {
  position: relative;
  height: 20rem;
  width: 40rem;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.title {
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 1rem;
}
